<section class="info">
        <div class="container text-center mt-5">
            <div class="row d-flex">
                <div class="col-md-4" id="pData">
                    <div id="data"></div>
                </div>
                <div class="col-md-4 offset-md-4">
                    <div id="bt0" class="btn btn-success" onclick="refresh()">Atualizar</div>
                </div>
            </div>
        </div>
    </section>

    <section class="cont">

        <div class="container overflow-hidden text-center">
            <div class="row gy-5">
                <div class="col-6">
                    <div class="p-5 alinhamento">
                        <div class="box">
                            <p class="txtB">Temperatura</p>
                            <div class="row">
                                <div class="col mt-4">
                                    <img class="icon" src="/img/Temp_frio.png" alt="">
                                    <p>Mínima</p>
                                    <div class="dados" id="Tmin">{{temperatura}} °C</div>
                                </div>
                                <div class="col mt-4">
                                    <img class="icon" src="/img/Temp_quente.png" alt="">
                                    <p>Máxima</p>
                                    <div class="dados" id="Tmax">{{temperatura}} °C</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-5 alinhamento" >
                        <div class="box">
                            <p class="txtB">Umidade</p>
                            <div class="row">
                                <div class="col mt-4">
                                    <img class="icon" src="/img/Umid_min.png" alt="">
                                    <p>Mínima</p>
                                    <div class="dados" id="Umin">{{umidade}} %</div>
                                </div>
                                <div class="col mt-4">
                                    <img class="icon" src="/img/Umid_max.png" alt="">
                                    <p>Máxima</p>
                                    <div class="dados" id="Umax">{{umidade}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-5 alinhamento">
                        <div class="box">
                            <p class="txtB">Vento</p>
                            <div class="row">
                                <div class="col mt-4">
                                    <img class="icon" src="/img/img_vento.png" alt="">
                                    <p>Velocidade</p>
                                    <div class="dados" id="velVen">33 km/h</div>
                                </div>
                                <div class="col mt-4">
                                    <img class="icon" src="/img/vento_nordeste.png" alt="">
                                    <p>Direção</p>
                                    <div class="dados" id="dirV">NE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-5 alinhamento">
                        <div class="box">
                            <p class="txtB">Chuva</p>
                            <div class="row">
                                <div class=" mt-4">
                                    <img class="icon" src="/img/chuva_img.png" alt="">
                                    <p>Acumulada</p>
                                    <div class="dados" id="chuvaAc">10 mm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div id="linha"></div>

     <section class="botao">

        <button class="btn btn-success" id="bt1" onclick="change7()">Últimos 7 dias</button>
        <button class="btn btn-success" id="bt2" onclick="change30()">Últimos 30 dias</button>
        <button class="btn btn-success" id="bt3" onclick="changeY()">Últimos 365 dias</button>

    </section>

    <section class="graficos">

        <div class="graphic">
            <img class="imgG" src="/img/graphic/dayHumidity7.png" id="G1" >
        </div>
        
        <div class="graphic">
            <img class="imgG" src="/img/graphic/dayRain7.png" id="G2" >
        </div>
        
        <div class="graphic">
            <img class="imgG" src="/img/graphic/dayTemp7.png" id="G3" >
        </div>
        
    </section>